.wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
    /* height: 150px; */
  }
  .editor-class {
    /* background-color:lightgray; */
    padding: 1rem;
    border: 1px solid #ccc;
    /* height: 150px; */
  }
  .toolbar-class {
    border: 1px solid #111;
    background: red;
  }
